body {
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: var(--theme-color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    letter-spacing: 2px;
}

:root {
    --random-color: #ffffff;
    --theme-color1: #212121;
    --theme-color2: #181818;
    --theme-color-text: #ffffff;
}

header {
    height: 5vh;
    width: 70%;
    background: var(--random-color);
    transition: 3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px 4px 0 0;
}

header > p {
    margin: 10px 25px 10px 0;
    font-size: 25px;
    color: white;
}

#theme-buttons {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-lightMode{
    background-color: #e7e7e7;
}

#button-darkMode {
    background-color: #555555;
    color: white;
}

.buttons {
    min-height: 2rem;
    width: auto;
    margin: 10px;
    align-items: center;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    transition: all 250ms;
}

.buttons:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-1px);
}

.buttons:active {
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

#scroll-list {
    height: auto;
    width: 70%;
    background: var(--theme-color2);
    box-shadow: 0 15px 15px -10px #ffffff;
    border-bottom: 3px dotted var(--random-color);
    transition: border-bottom-color 3s;
}

.scroll-list-elements {
    font-size: 20px;
    width: 20vw;
    margin: 8px;
    cursor: pointer;
    color: var(--theme-color-text);
}

#page-content {
    height: auto;
    width: 70vw;
    background: var(--theme-color2);
    box-shadow: 0 15px 15px -10px #ffffff;
}

.h1 {
    font-size: 55px;
    color: var(--random-color);
    margin: 30px;
    transition: 3s;
}

.h2 {
    font-size: 40px;
    color: var(--random-color);
    margin: 30px;
    transition: 3s;
}

.h3 {
    font-size: 30px;
    color: var(--random-color);
    margin: 30px;
    transition: 3s;
}

.text {
    font-size: 20px;
    color: var(--theme-color-text);
    margin: 10px 25px 10px 25px;
}

ul, ol {
    margin: 25px;
}

#git-graph {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

#text-branch {
    margin: 30px 20px 30px 20px;
}

footer {
    height: 5vh;
    width: 70%;
    background: var(--random-color);
    transition: 3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    border-radius: 0 0 4px 4px;
}